.optional-services {
	.cards-4 {
		.card-optional {
			background: $pale-grey;
			border: 1px solid $cloudy-blue;
			border-radius: 6px;
			min-width: 333px;
			padding: 20px 10px 20px 20px;
			cursor: pointer;

			.optional-header {
				@include flex(space-between, center);
				width: 100%;
				margin-bottom: 16px;
				.optional-icon {
					width: 45px;
					height: 45px;
					border-radius: 50%;
					background-color: $dark-indigo;
					@include flex(center, center);
				}
				.optional-check {
					display: flex;
					.dollar {
						margin-bottom: 0;
						margin-right: 10px;
						@include flex(flex-start, center);

						&::after{
							content: 'ADD OPTION';
							background-color: $color-primary;
							border-radius: 4px;
							display: inline-block;
							width: 99px;
							height: 30px;
							margin-left: 12px;
							color: $color-white;
							@include flex(center, center);
							font-size: $font-size-xs;
						}
					}
				}
			}
		}
		@include for-size(tablet-landscape-down) {
			align-items: center;

			.card-optional{
				margin-bottom: 0;
				min-width: auto;
			}
		}
		input[type=checkbox]{
			display: none;
			&:checked + .card-optional{
				border: 2px solid $color-primary !important;
			}
			&:checked + .card-optional .dollar{
				&::after{
					content: 'REMOVE';
				}
			}
		}
	}
}
