.cards-3 {
	justify-content: space-between;
	display: flex;
	gap: 30px;
	margin-bottom: 90px;
	.card-option {
		background: $color-white;
		border: 1px solid $pale-lilac;
		box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.1);
		display: flex;
		border-radius: 6px;
		flex-direction: column;
		min-height: 470px;

		.option-header {
			background: $pale-lilac;
			margin-bottom: 6px;
			padding: 19px 22px;
			text-align: center;
		}
		.option-content {
			text-align: center;
			padding: 6px 16px 22px;
			color: $dusk;

			b{
				color: $dark-indigo;
			}
		}
		.option-footer {
			padding: 0 16px 24px;
			text-align: center;
			margin-top: auto;
			button{
				line-height: 1.2;
				width: 100%;
				font-size: 14px;
			}
		}
		&.active {
			min-height: 510px;
			margin-top: -15px;
			border: 2px solid $color-primary;
			box-shadow: 0px 30px 65px rgba(12, 79, 165, 0.1);
			.option-header {
				padding: 27px 0;
				background: $color-primary;
				h3 {
					color: $color-white;
					margin-bottom: 0;
				}
			}
			.select-service {
				background: $color-primary;
				border-color: $color-primary;
				color: $color-white;
				font-family: $primary-semibold;
			}
		}
	}
}
