.shipment-details {
	width: 100%;
	.card-shipment {
		background: $pale-grey;
		border: 1px solid $cloudy-blue;
		border-radius: 6px;
		width: 100%;
		&:last-child{
			margin-bottom: 0 !important;
		}
		input {
			background: $pale-grey;
			border-color: $cloudy-blue;
			padding: 12px 16px;
			font-size: $font-size-xs;
			border-radius: 2px;
			&::placeholder {
				color: $deep-lilac;
			}
		}
		label {
			color: $dark-indigo;
			margin-bottom: 9px;
		}
		.ship-header {
			padding: 19px 20px 18px;
			border-bottom: 1px solid $cloudy-blue;
			@include flex(space-between, center);
			.pack-suit {
				h5 {
					margin-bottom: 0;
					margin-left: 10px;
				}
				@include flex(flex-start, center);
			}
			.trash {
				background: none;
				cursor: pointer;
				&:hover {
					svg {
						path {
							fill: $color-primary;
						}
					}
				}
			}
		}
		.ship-content {
			padding: 12px 20px 24px 20px;

			& > div {
				@include flex(flex-start, center);
				flex-wrap: wrap;
				gap: 12px;
				&:last-child {
					margin-top: 16px;
					width: 58%;
				}
			}
			.quantity {
				flex: 1;
				select {
					background-position-x: 80%;
				}
			}
			.type-of-items {
				flex: 7;
			}
			.weight-ship {
				flex: 4;
			}
			.length-ship {
				flex: 2;
			}
			.width-ship {
				flex: 2;
			}
			.height-ship {
				flex: 2;
			}
			.copy {
				flex: 0;
			}
			.content-ship {
				flex: 3;
			}
			.value-ship {
				flex: 1;
			}
		}
		.ship-footer{
			display: none;
			padding: 18px 22px;
			text-align: right;
			border-top: 1px solid $cloudy-blue;
			&>:first-child{
				margin-right: 18px;
			}
		}
	}
	@include for-size(tablet-portrait-down) {
		.card-shipment {
			.ship-header {
				.trash {
					display: none;
				}
				.d-none{
					display: block !important;
					background: none;
				}
			}
			.ship-content {
				padding: 8px 21px 16px;
				& > div {
					&:first-child {
						.quantity {
							flex: 10%;
						}
						.type-of-items {
							flex: 70%;
						}
						.weight-ship {
							flex: 30%;
						}
						.length-ship {
							flex: 16%;
						}
						.width-ship {
							flex: 16%;
						}
						.height-ship {
							flex: 16%;
						}
						.copy {
							display: none;
						}
					}
						&:last-child {
						width: 100%;
					}
				}
			}
			.ship-footer{
				display: block;
			}
		}
	}
	@include for-size(phone-small) {
		.card-shipment {
			.ship-content {
				padding: 8px 10px 16px;
			}
		}
	}
}
