.order-summary {
	box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
	.option-header {
		background-color: $dark-indigo;
		margin-bottom: 0px;
		border-top-left-radius: 6px;
		border-top-right-radius: 6px;
		padding: 16px 0;
		h2 {
			text-align: center;
			color: $color-white;
			margin-bottom: 0;
		}
	}
	.option-content {
		@include not-last-child(".option-item-ex") {
			border-bottom: 1px solid $pale-lilac;
		}
		padding: 16px 20px 142px;
		.option-item-ex {
			@include flex(space-between, center);
			padding-top: 10px;
			padding-bottom: 10px;

			p,
			h5 {
				margin-bottom: 0px;
			}
		}
	}
	.option-footer-ex {
		border-top: 1px solid #B7B6CA;
		margin-left: 20px;
		margin-right: 20px;
		padding: 13px 0;
		.pay {
			@include flex(space-between, center);
		}
	}
	/*****************************  phone-only ********************** */
	@include for-size(phone-only) {
		.option-content {
			padding-bottom: 51px;
		}
	}
}
