.about-page {
	main {
		.easy-booking {
			h1 {
				margin-bottom: 33px;
			}
			.select-items {
				@include flex(space-between, flex-start);
				margin-bottom: 40px;
				gap: 30px;
				.select-item {
					flex: 1;
					select{
						border-radius: 6px;
					}
				}
			}
			button {
				margin-left: auto;
				display: block;
			}
		}

		.recent-booking {
			margin-top: 60px;
			h1 {
				margin-bottom: 26px;
			}
		}

		@include for-size(tablet-landscape-down) {
			.easy-booking {
				h1 {
					margin-bottom: 30px;
				}
				.select-items {
					margin-bottom: 30px;
					gap: 16px;
					flex-direction: column;
					.select-item {
						width: 100%;
					}
				}
			}
			.recent-booking {
				margin-top: 30px;
				h1 {
					margin-bottom: 20px;
				}
			}
			.what-people-say {
				margin-top: 70px;
				margin-bottom: 30px;

				header {
					margin-bottom: 30px;
					h1 {
						font-size: $font-size-xl;
					}
					p {
						font-size: $font-size-sm;
					}
				}
				.review {
					padding: 30px 14px 18px;
					width: 258px;
					height: 265px;
				}
			}
		}
		@include for-size(tablet-portrait-down) {
			.easy-booking {
				h1 {
					display: none;
				}
			}
			.recent-booking {
				h1 {
					display: none;
				}
			}
		}
	}
}
