.about-page {
	main {
		.cards {
			@include flex(space-between, flex-start);
		}
		.easy-booking {
			h1 {
				margin-bottom: 33px;
			}
			.select-items {
				@include flex(space-between, flex-start);
				margin-bottom: 40px;
				gap: 30px;
				.select-item {
					flex: 1;
				}
			}
		}
		.recent-booking {
			margin-top: 60px;
			h1 {
				margin-bottom: 26px;
			}
		}
		@include for-size(tablet-landscape-down) {
			.cards {
				flex-direction: column;
			}
			.easy-booking {
				h1 {
					margin-bottom: 30px;
				}
				.select-items {
					margin-bottom: 30px;
					gap: 16px;
					flex-direction: column;
					.select-item {
						width: 100%;
					}
				}
			}
			.recent-booking {
				margin-top: 30px;
				h1 {
					margin-bottom: 20px;
				}
			}
		}
	}
}
