.optional-v2 {
	width: 100%;
	h4 {
		margin-bottom: 16px;
	}
	.cards-details {
		@include flex(space-between, flex-start);
		& > div {
			border-radius: 6px;
		}
	}
	@include for-size(tablet-landscape-down) {
		.cards-details {
			flex-direction: column;
		}
	}
}
