.details-v1-page {
	main {
		h1 {
			margin-bottom: 38px;
		}
		.details {
			@include flex(space-between, flex-start);
			border-bottom: 1px solid $cloudy-blue;
			margin-bottom: 19px;
			gap: 54px;
			.details-inputs {
				width: 65%;
				.pick-details {
					@include flex(space-between, flex-start);
					margin-bottom: 60px;
					gap: 30px;
					& > div {
						flex: 1;
					}
					input {
						margin-top: 16px;
					}
				}
				.shipment-details {
					.card-shipment {
						margin-bottom: 30px;
					}
					.add-item {
						img {
							margin-left: 8px;
						}
						margin: 30px 0 20px;
					}
					.parag2 {
						margin: 28px 0 48px;
						h4 {
							display: inline;
						}
					}
				}
				a {
					color: #0f0a4d;
					border-bottom: 1px solid #0f0a4d;
				}
				.pick-options-dt {
					.ship-date {
						width: 43%;
						margin-bottom: 60px;
					}
				}
				.contact-details {
					.contact-infos {
						@include flex(space-between, flex-start);
						& > div {
							width: 32%;
						}
						margin-bottom: 24px;
					}
					.condition {
						margin: 24px 0 60px;
						.form-check {
							.form-check-input {
								width: 16px;
								height: 16px;
							}
						}
					}
				}
			}
			.summary-detail {
				width: 32%;
			}
		}
		@include for-size(desktop-large) {
			.details {
				gap: 30px;
				.details-inputs {
					width: 100%;
					.pick-details {
						margin-bottom: 30px;
					}
					.contact-details {
						.condition {
							margin-bottom: 30px;
						}
					}
					.shipment-details {
						.parag2 {
							margin-bottom: 30px;
						}
					}
					.pick-options-dt {
						.ship-date {
							margin-bottom: 30px;
						}
					}
				}
				.summary-detail {
					width: 50%;
					margin-bottom: 40px;
				}
			}
			.pay-now {
				margin-top: 11px;
			}
		}
		@include for-size(tablet-landscape-down) {
			.details {
				flex-direction: column;
				.summary-detail {
					width: 100%;
				}
			}
		}
		@include for-size(tablet-portrait-down) {
			padding: 0 80px 100px;
			.details {
				gap: 0;
				flex-direction: column;
				border: none;
				margin-bottom: 0;
				.details-inputs {
					width: 100%;
					.pick-details {
						flex-direction: column;
						.Pickup-Details {
							width: 100%;
							margin-bottom: 30px;
						}
						.Deliver-Details {
							width: 100%;
						}
					}
					.contact-details {
						.contact-infos {
							flex-direction: column;
							& > div {
								width: 100%;
								margin-bottom: 16px;
							}
							margin-bottom: 8px;
						}
						.condition {
							margin-top: 27px;
							margin-bottom: 27px;
							.form-check {
								margin: 0;
								&:last-child {
									display: none;
								}
							}
						}
					}
					.shipment-details {
						.card-shipment {
							margin-bottom: 20px;
						}
						.add-item {
							margin: 0px 0 20px;
						}
						.parag1 {
							a{
								color: #0071FF;
								border-bottom: none;
							}
						}
							.parag2 {
							display: none;
						}
					}
					.pick-options-dt {
						.ship-date {
							width: 100%;
						}
					}
				}
				.order-summary{
					margin-bottom: 0;
				}
			}
			.pay-now {
				display: none;
			}
		}
		@include for-size(phone-only) {
			padding: 0 20px 70px;
		}
	}
}
