.options-page {
	main {
		.title {
			margin-bottom: 50px;
			h1 {
				display: inline-block;
				margin-right: 37px;
			}
			.change{
				display: inline-block;
				background: none;
				font-size: 10px;
				text-decoration: underline;
				color: $dark-indigo;
				font-family: $primary-bold;
			}
		}
		.optional-services {
			h4 {
				margin-bottom: 8px;
			}
			margin-bottom: 89px;
			.cards-4 {
				gap: 38px;
				align-items: stretch;
				.card-optional {
					p {
						margin-bottom: 0;
					}
				}
			}
		}
		.cards-4 {
			@include flex(space-between, flex-start);
			& > div {
				border-radius: 6px;
			}
		}

		@include for-size(desktop-down) {
			.pick-options {
				margin-bottom: 10px;
			}
			.optional-services {
				margin-bottom: 10px;
			}
		}

		@include for-size(tablet-landscape-down) {
			padding: 12px 16px;
			.cards-4 {
				flex-direction: column;
				& > div {
					min-height: auto;
				}
			}
			.pick-options {
				h1 {
					margin-bottom: 30px;
				}
			}
		}
	}
}
